{
  "presets": [["env", {
    "targets": {
      "browsers": ["last 2 versions", ">=1%"]
    }
  }]],
  "plugins": [
    [
      "syntax-dynamic-import",
      "component",
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]
  ]
}
