// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";



$back-color : rgb(147, 147, 147);
$c-color: #FFFFFF;
$clear-love-shadow:rgb(119, 119, 119) 3px 0px 5px 0px;
$border-color: #6666;
$border-style: 1px solid $border-color;
$radia-shadow:rgb(119, 119, 119) 0px 0px 5px 1px;
$poor-shadow:#7777 1px 0px 3px 0px;
$triangle-color : rgb(96, 96, 96);
$triangle-alpha: 0.66;


$medie-type: screen;
$phone-size: 992px;
$right-set:330px;




html,
body {
    height: 100%;
    background-color: $back-color;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #636b6f;
    background-color: #f5f8fa;
}

a {
    text-decoration: none;
}

.item-ctent {
    display: flex;
    align-items: center;
}

.cy {
    border-radius: 100%;
    border-width: 0px;
    border-style: solid;
}

.inline-box {
    display: inline-block;
}

.flex {
    display: flex;
}

.right-content {
    transition: all .5s;
    width: auto;
    right: 0;
    left: 330px;
    position: absolute;
    z-index: 0;
}

.on-cursor {
    cursor: pointer;
}

.content {
    margin: 15px 40px 0 60px;
    border: $border-style;
    background-color: white;
    border-radius: 3px;
    box-shadow: $poor-shadow;
    min-height: 50px;
}

.side-triangle {
    float: left;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 25px;
    border-color: $triangle-color transparent transparent $triangle-color;
    opacity: $triangle-alpha;
}

.data-box {
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    float: right;
}

.side-hr {
    border-top: 1px solid #BBBBBB;
}

.short-hr {
    margin-top: 3px;
    margin-bottom: 15px;
}

.border-shadow {
    border: $border-style;
    box-shadow: $clear-love-shadow;
    border-radius: 3px;
}

.article-box {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 25px;
    border: $border-style;
    border-radius: 3px;
    box-shadow: $poor-shadow;

    .head-box {
        display: inline-block;
        float: left;

        .title {
            font-size: 25px;
            font-weight: 600;
        }
    }

    .icon-box {
        padding: 0px 45px;
        margin: 15px 0;
    }

}

.table-img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

@media #{$medie-type} and (max-width: $phone-size) {
    .content {
        border-radius: 0;
        margin: 0;
        border: none;
        box-shadow: none;
    }

    .data-box {}

    .hidden-phone {
        display: none;
    }

    .show-phone {
        display: block;
    }
}

@media #{$medie-type} and (min-width: $phone-size) {
    .show-phone {
        display: none;
    }

    .text-box {
        img {
            width: auto;
            max-height: 400px;
        }
    }
}


@media #{$medie-type} and (max-width: $phone-size) {
    .article-box {
        height: auto;
        border: none;
        box-shadow: none;
        margin: auto;
        width: 90%;

        .head-box {
            display: block;
            float: none;
            margin-top: 10px;

            p {
                margin: 0;
            }
        }

        .data-box {
            float: none;
            margin: 0;
            display: block;
        }

        .side-triangle {
            display: none;
        }

        .img-box {
            height: auto;
            margin-bottom: 20px;
        }

        .icon-box {
            padding: 0;
            margin: 0;
            margin-top: 15px;

            .like {
                display: inline-flex;
                flex-wrap: wrap;
                justify-content: center;

                i {
                    line-height: 25px;
                }
            }
        }
    }
}